{% extends "base.html" %}

{% block content %}

<div class="new-cluster-form">
  <form action="{% url 'cluster-new' %}" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Create" />
  </form>
</div>

{% if nocluster %}

{% else %}

<div class="api-info">
  <div class="info-row">
    <div class="info-label">Cluster</div> 
    <div class="info-value"> {{ cluster.name }}</div>
  </div>
  <div class="info-row">
    <div class="info-label">API Key</div> 
    <div class="info-value"> {{ cluster.api_key }}</div>
  </div>
  <div class="info-row">
    <div class="info-label">Token</div> 
    <div class="info-value"> {{ cluster.token }}</div>
  </div>
</div>

{% endif %}

{% endblock %}